body {
    margin: 0;
    padding: 0;
    font-family: "Google Sans", sans-serif;
    font-weight: normal;
    font-size: 1rem;
    background-color: #fafafa;
}

input {
    padding: 0.75rem;
    border: 0;
    border-radius: 2.5rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: #0b373f;
    color: #fafafa;
    font-weight: bold;
}

main {
    width: 90%;
    margin: 2% auto;
    height: 90vh;
    display: flex;
    justify-content: center;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 1rem;
}

thead {
    background-color: rgba(75, 192, 192, 0.2);
    border-color: rgba(75, 192, 192, 1);
    color: white;
}

/* Estilo para las celdas del encabezado */
th {
    padding: 10px;
}

/* Estilo para las filas de la tabla */
tbody tr {
    background-color: #ecf0f1; /* Color de fondo de las filas alternas */
}

/* Estilo para las celdas de la tabla */
td {
    padding: 10px;
    border: 1px solid #bdc3c7; /* Borde de las celdas */
}

/* Estilo para las celdas de la primera columna */
td:first-child {
    font-weight: bold; /* Hace que el texto de la primera columna sea negrita */
}

/* Cambia el color del texto para el tipo de medición "agua" */
td:nth-child(4):contains("agua") {
    color: #3498db;
}

/* Cambia el color del texto para el tipo de medición "luz" */
td:nth-child(4):contains("luz") {
    color: #f39c12;
}
